<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>
  </head>

  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 30%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
  </style>

  <body>
    <% include partials/_header %>
    <% if (!user_id) { %>
      You need to log in first!</br>
      <% include partials/_login %>
    <% } %>
    <table>
    <% if (data[user_id]) { %>
      <% if (data[user_id].links) { %>
        <% for(let shortURL in data[user_id].links) { %>
          <tr>
            <td>
              <%= shortURL %>
              <form method="GET" action="/urls/<%= shortURL %>/">
                <button>Edit</button>
              </form>
            </td>
            <td>
              <%= data[user_id].links[shortURL]%>
              <form method="POST" action="/urls/<%= shortURL %>?_method=DELETE">
                <button>Delete</button>
              </form>
            </td>
          </tr>
        <% } %>
      <% } %>
    <% } %>
    </table>

    <br>
  </body>
</html>
