<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
  </head>

  <body>
    <div style="margin: 15px">
      <% include partials/_header %>
      <% if (!user_id) { %>
          <h1>Welcome to my first app!<br/>Play with it.<br/>Do it.<br/>Now.</h1>
      <% } %>
      <% include partials/_login %>
    </div>
  </body>

</html>