<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
  </head>

  <body>
    <% include partials/_header %>
    <div style="margin: 15px">
    <% if (!user_id) { %>
      <% include partials/_login %>
    <% } %>
    </div>
    <% include partials/_register %>
  </body>

</html>