<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New URL</title>
  </head>

  <body>
    <% include partials/_header %>
    <% include partials/_login %>
    <form action="/urls" method="POST" style="margin: 0px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>