<!DOCTYPE html>
<html lang="en">
  <% include partials/_header %>

  <body>
    <h1>Hello World</h1>
      <%= "Your shortened URL is: " + shortURL %>
      <br/>
      <%= "Full URL : " + urls[shortURL] %>

    <br/>
    <br/>
   <!--  Shorten a URL here:
    <form method="POST">
      <input>
      <button>
    </form> -->
    </body>
  </body>