<!DOCTYPE html>
<html lang="en">
  <head></head>

  <body>
  <% if (userid) { %>
      <form action="/logout" method="POST" style="margin: 0px;">
        <%= email %>
        <button>LOGOUT</button>
      </form>
  <% } %>
      <form action="/login" method="POST" style="margin: 0px;">
        <label for="email">LOGIN:</label>
        <input id="email" type="email" name="email" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
      </form>

  </body>

</html>